<nav class="space-y-2 bg-gradient-to-b from-blue-600 to-blue-800 p-2 rounded">
    <NavLink href="" Match="NavLinkMatch.All" class="block px-3 py-2 rounded text-white hover:bg-blue-700">Home</NavLink>
    <NavLink href="people" class="block px-3 py-2 rounded text-white hover:bg-blue-700">People</NavLink>
    <NavLink href="investments" class="block px-3 py-2 rounded text-white hover:bg-blue-700">Investments</NavLink>
    <NavLink href="incomes" class="block px-3 py-2 rounded text-white hover:bg-blue-700">Incomes</NavLink>
    <NavLink href="expenses" class="block px-3 py-2 rounded text-white hover:bg-blue-700">Expenses</NavLink>
    <NavLink href="assets" class="block px-3 py-2 rounded text-white hover:bg-blue-700">Assets</NavLink>
    <NavLink href="taxbrackets" class="block px-3 py-2 rounded text-white hover:bg-blue-700">Tax Brackets</NavLink>
    <NavLink href="rollovers" class="block px-3 py-2 rounded text-white hover:bg-blue-700">Rollovers</NavLink>
    <NavLink href="surplusallocations" class="block px-3 py-2 rounded text-white hover:bg-blue-700">Surplus Allocations</NavLink>
    <NavLink href="scenarios" class="block px-3 py-2 rounded text-white hover:bg-blue-700">Scenarios</NavLink>
</nav>
