<nav class="space-y-2">
    <NavLink href="" Match="NavLinkMatch.All" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">Home</NavLink>
    <NavLink href="people" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">People</NavLink>
    <NavLink href="investments" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">Investments</NavLink>
    <NavLink href="incomes" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">Incomes</NavLink>
    <NavLink href="expenses" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">Expenses</NavLink>
    <NavLink href="assets" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">Assets</NavLink>
    <NavLink href="taxbrackets" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">Tax Brackets</NavLink>
    <NavLink href="rollovers" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">Rollovers</NavLink>
    <NavLink href="surplusallocations" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">Surplus Allocations</NavLink>
    <NavLink href="scenarios" class="block px-3 py-2 rounded text-gray-800 bg-white hover:bg-gray-100 font-medium">Scenarios</NavLink>
</nav>
